.required::after{
    content: '(*)';
    color: red;
}
input{
    border-radius:.3em;
    padding: .5em;
    border: solid 1px rgb(128, 128, 128);
}

#send-btn{
    background-color: #28a745;
    color: #ffffff;
    border-radius:.3em;
    border: none;
}
#send-btn:hover{
    background-color: rgb(1, 83, 1);
}